@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");

:root {
  --nav-blue: rgba(65, 116, 159, 0.2);
  --nav-orange: #fed18e;
  --nav-white: rgb(250, 243, 234);
  --standard-padding: 20px;
}

html {
  font-size: 20px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Amaranth", sans-serif;
}

nav {
  padding: var(--standard-padding);
  background-color: var(--nav-blue);
  background-image: url("images/picnic_blanket_texture.png");
}

#content .padded-content {
  margin: 0 var(--standard-padding) var(--standard-padding);
}

#header-image {
  width: 100%;
  height: 400px;
  background-size: cover;
  margin-bottom: calc(var(--standard-padding) * 2);
}

.nav-links ul#navigation {
  display: flex;
  padding: 0;
}

.nav-links ul#navigation li {
  font-family: "Amaranth", sans-serif;
  list-style-type: none;
  margin-right: var(--standard-padding);
}

.nav-links ul#navigation li a {
  text-decoration: none;
  color: var(--nav-white);
  font-weight: 900;
  font-size: 1.25rem;
}

.nav-links ul#navigation li a:hover {
  color: var(--nav-orange);
}

.nav-links ul#navigation li.orange a {
  color: var(--nav-orange);
}
